@import url(./__description/cards__description.css);
@import url(./__image/cards__image.css);
@import url(./__title/);

.cards {
  width: 920px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  margin: 0 auto;
  padding: 0;
  gap: 100px;
  row-gap: 60px;
}
